{% extends 'base.html.twig' %}
{% block titlepage %}Editar Síntoma Ingreso{% endblock %}
{% block page_header %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>CENTRO SALUD</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Centro de Salud</li>
                        <li class="breadcrumb-item">Listado Síntoma Ingreso</li>
                        <li class="breadcrumb-item active">Editar Síntoma Ingreso</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
{% block contenido %}
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title"><strong>Actualizar</strong> Síntoma de Ingreso</h3>
            </div>
            {{ include('sintomaingreso/_form.html.twig', {'button_label': 'Actualizar Síntoma Ingreso'}) }}
        </div>
    </div>
{% endblock %}
