{% extends 'base.html.twig' %}
{% block titlepage %}Editar Tipo Muestra{% endblock %}
{% block page_header %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>CENTRO SALUD</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Centro Salud</li>
                        <li class="breadcrumb-item">Listado Tipo Muestra</li>
                        <li class="breadcrumb-item active">Editar Tipo Muestra</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
{% block contenido %}
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title"><strong>Actualizar</strong> Tipo Muestra</h3>
            </div>
            {{ include('tipomuestra/_form.html.twig', {'button_label': 'Actualizar Tipo Muestra'}) }}
        </div>
    </div>
{% endblock %}